{% load static %}
<!doctype html>
<html lang="en">
  <head>
    
    {% block meta %}
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}
    
    {% block corecss %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block js_query %}
    {% endblock %}
    
    {% block extra_js %}
    {% endblock %}

  </head>

  <body>

    <div class="header">
      <div class="logo-placeholder logo" a href="sweetspot.html">Sweet Spot</div>
      <ul class="nav">
        <li>Home</li>
        <li>Browse Menu</li>
        <li>Book Table</li>
        <li>Account</li>
      </ul>
    </div>

    <main class="text-center my-5">
      <h1 class ="main-heading">The Sweet Spot</h1>
      <div>
        <button class="btn btn-primary" type="submit">Menu</button>
        <button class="btn btn-secondary btn-font">Book a Table</button>
      </div>
    </main>

  </body>
</html>
