{% extends "SweetSpot/base.html" %}

{% block title %}Login{% endblock %}

{% block main_content %}
  <div id="login-form-container">
    <h2>Login</h2>
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="next" value="{% url 'homepage' %}">
      <button type="submit" class="btn btn-primary">Log in</button>
      <a href="{% url 'signup' %}" class="btn btn-success">Sign Up</a>
      <a href="{% url 'homepage' %}" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
{% endblock %}
