{% extends "SweetSpot/base.html" %}

{% block main_content %}
<div class="form-container">
    <h1>Dessert Recipes</h1>
    <ul>
        {% for dessert in desserts %}
        <li>
            <strong>Name:</strong> {{ dessert.name }}<br>
            <strong>Description:</strong> {{ dessert.description }}<br>
            <strong>Ingredients:</strong> {{ dessert.ingredients }}<br>
            <strong>Instructions:</strong> {{ dessert.instructions }}<br>
            <strong>Submitted by:</strong> {{ dessert.user.username }}<br>
            {% if user.is_authenticated and dessert.user == user %}
                <a href="{% url 'edit_dessert' dessert.id %}" class="btn-primary">Edit</a>
                <a href="{% url 'delete_dessert' dessert.id %}" class="btn-secondary">Delete</a>
            {% endif %}
        </li>
        {% empty %}
        <li>No dessert recipes available.</li>
        {% endfor %}
    </ul>
    {% if user.is_authenticated %}
        <a href="{% url 'add_dessert' %}" class="btn btn-primary">Add New Recipe</a>
    {% endif %}
    <a href="{% url 'homepage' %}" class="btn btn-secondary">Homepage</a>
</div>
{% endblock main_content %}
